html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: #43cea2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #43cea2,
    #185a9d
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #43cea2,
    #185a9d
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%); */
}

label {
  font-weight: bold;
}
#li-id {
  list-style-type: disc;
  list-style-position: inside;
  font-weight: bold;
}
#submit_btn {
  width: 150px;
  height: 40px;
  background-color: rgb(176, 199, 198);
  color: black;
}
