{% extends "base.html" %}
{%block title%} Active {%endblock%}
<!-- {% block navbar %}
<li class="nav-item">
    <a class="nav-link" name="edit_profile" href="/user">Edit details</a>
</li>
{% endblock%} -->
{%block content %}
<p>Courier {{name}} is now active!</p>
<p></p>
<form method="POST">
    <input type="submit" name="submit_button" value="edit_details"/>
    <input type="submit" name="submit_button" value="Go inactive"/>
</form>

<!-- {{data}} -->
{% for item in data %}
    <p>{{item}}</p>
{% endfor %}

<table>
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Tags</th>
    </tr>
{% for item in data %}
    <tr>
        <td>{{item.get("from").get("addressName")}}</td>
        <td>{{item.get("to").get("addressName")}}</td>
        <td>{{item.get("tags")}}</td>

        <td>
            <form name="f2" action="javascript:select();" >
            <input id="edit" type="submit" name="edit" value="Assign"/>
            </form>
        </td>
    </tr>
    
{% endfor %}
</table>
{%endblock%}