{% extends "base.html"%}
{%block title%} User{%endblock%}
{%block content %}
{% with messages=get_flashed_messages() %}
{% if messages %}
{% for msg in messages%}
<p> {{msg}} </p>
{% endfor %}
{% endif %}
{% endwith %}
<form method="POST">
    <p>Full Name:</p>
    <input type="name" name="nm" placeholder="Enter name" value="{{name if name}}" required/>
    <p>Maximum weight of the package:</p>
    <input type="number" step="0.5" name="weight" min="0" value="{{max_weight if max_weight}}" required/>
    <p>Maximum width of the package:</p>
    <input type="number" step="0.5" name="width" min="0" value="{{max_width if max_width}}" required/>
    <p>Maximum height of the package:</p>
    <input type="number" step="0.5" name="height" min="0" value="{{max_height if max_height}}" required/>
    <p>Maximum length of the package:</p>
    <input type="number" step="0.5" name="length" min="0" value="{{max_length if max_length}}" required/>
    <p><span>Select Tags:</span>
        <ul>
            {% if f_checked%}
            <li><input type="checkbox"  value="FRAGILE" name="mycheckbox1" checked /> Fragile </li>
            {%else%}
            <li><input type="checkbox"  value="FRAGILE" name="mycheckbox1" /> Fragile </li>
            {%endif%}
            {% if d_checked%}
            <li><input type="checkbox" value="DANGEROUS" name="mycheckbox2" checked /> Dangerous</li>
            {% else %}
            <li><input type="checkbox" value="DANGEROUS" name="mycheckbox2" /> Dangerous</li>
            {%endif%}
        </ul></p>
    <p></p>
    <input type="submit" value="Submit"/>
    
</form>
{%endblock%}