{% extends "base.html"%}
{%block title%} User{%endblock%}
{%block content %}
{% with messages=get_flashed_messages() %}
{% if messages %}
{% for msg in messages%}
<p> {{msg}} </p>
{% endfor %}
{% endif %}
{% endwith %}
<form action="#" method="POST">
    <p>Name: </p>
    <input type="name" name="nm" placeholder="Enter name" value="{{name if name}}"/>
    <p>Maximum width of the package:</p>
    <input type="number" name="width" value="{{max_width if max_width}}"/>
    <p>Maximum height of the package:</p>
    <input type="number" name="height" placeholder="0" value="{{max_height if max_height}}"/>
    <p>Maximum length of the package:</p>
    <input type="number" name="length" placeholder="0" value="{{max_length if max_length}}"/>
    <p><span>Select Tags:</span>
        <ul>
            <li><input type="checkbox" /> Fragile </li>
            <li><input type="checkbox" /> Dangerous</li>
        </ul></p>
    
    <p></p>
    <input type="submit" value="submit"/>
    
</form>
{%endblock%}