{% extends "base.html" %}
{%block title%} Active {%endblock%}
<!-- {% block navbar %}
<li class="nav-item">
    <a class="nav-link" name="edit_profile" href="/user">Edit details</a>
</li>
{% endblock%} -->
{%block content %}
<p>Courier {{name}} is now active!</p>
<p></p>
<form method="POST">
    <input type="submit" name="submit_button" value="edit_details" />
    <input type="submit" name="submit_button" value="Go inactive" />
</form>
<p></p>
<!-- {{data}} -->

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>
<table class="centered thick-border">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Tags</th>
        <th>Assign</th>
    </tr>
    {% for item in data %}

    <tr>
        <th>{{item.from['addressName']}}</th>
        <th>{{item.to['addressName']}}</th>
        <th>{{','.join(item.tags)}}</th>
        <td>
            <form method="GET" action="/user/dashboard/{{item.ID}}">
                <input id="assign order" type="submit" name="assign order" />
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

{%endblock%}