{% extends "base.html"%}
{%block title%} User{%endblock%}
{%block content %}
{% with messages=get_flashed_messages() %}
{% if messages %}
{% for msg in messages%}
<p> {{msg}} </p>
{% endfor %}
{% endif %}
{% endwith %}
<form method="POST">
    <p>Full Name:</p>
    <input type="name" name="nm" placeholder="Enter name" value="{{name if name}}" required/>
    <p>Maximum weight of the package:</p>
    <input type="number" step="0.5" name="weight" value="{{max_weight if max_weight}}" required/>
    <p>Maximum width of the package:</p>
    <input type="number" step="0.5" name="width" value="{{max_width if max_width}}" required/>
    <p>Maximum height of the package:</p>
    <input type="number" step="0.5" name="height" value="{{max_height if max_height}}" required/>
    <p>Maximum length of the package:</p>
    <input type="number" step="0.5" name="length" value="{{max_length if max_length}}" required/>
    <p><span>Select Tags:</span>
        <ul>
            <li><input type="checkbox"  value="fragile" name="mycheckbox"/> Fragile </li>
            <li><input type="checkbox" value="dangerous" name="mycheckbox" /> Dangerous</li>
        </ul></p>
    <p></p>
    <input type="submit" value="Submit"/>
    
</form>
{%endblock%}