.wrapper {
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col {
    height: 100%;
    display: flex;
    justify-content: center;
}

#piechart {
    width: 520px;
    height: 500px;
    min-width: 400px;
    min-height: 380px;
}

.card {
    font-family: 'Roboto', sans-serif;
    background: #838CC7;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.category span:first-child,
#chart-title {
    font-weight: 300;
    font-size: 20px;
    opacity: 0.6;
    color: rgb(0, 0, 0);
    margin-bottom: 6px;
}

.category span:last-child {
    font-size: 40px;
    font-weight: 300;
    color: rgb(0, 0, 0);
}


.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}