{% extends "navbar.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}
<div>
    <div class="d-flex justify-content-center text-white bg-dark">
        <h1>Courier {{name}} is now active!</h1>
    </div>
    <div class="d-flex justify-content-center text-white bg-dark">
        <a class="btn btn-primary" href="{{ url_for('user.inactive') }}">Go inactive</a>
    </div>

    <table class="table table-striped table-hover centered thick-border table-hover">
        <thead class="table-dark">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Tags</th>
                <th>Assign</th>
            </tr>
        </thead>
        {% for item in data %}
        <tr>
            <th>{{item.get('from').get('addressName')}}</th>
            <th>{{item.get('to').get('addressName')}}</th>
            <th>{{','.join(item.get('tags'))}}</th>
            <td>
                <form method="POST" action="{{ url_for('user.dashboard', orderID=item.get('id')) }}">
                    <button type="submit" class="btn btn-dark" >Assign</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>


    <ul class="pagination justify-content-center">
        {% if pagination %}
        <li class="page-item">
            <a class="page-link"
                href="{{ url_for('user.dashboard', page=pagination.currentPage) if pagination.currentPage>0 else '#'}}"
                aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>

        {% for page in range(pagination.get('currentPage')+1, pagination.get('currentPage')+5 if pagination.get('currentPage')+5
        <pagination.get('totalPages') else pagination.get('totalPages')+1) %} <li
            class="page-item {% if pagination.currentPage+1 == page %}active{% endif %}">
            <a class="page-link" href="{{ url_for('user.dashboard', page=page) }}">{{page}}</a>
        </li>
        {% endfor %}

        <li class="page-item">
            <a class="page-link"
                href="{{ url_for('user.dashboard', page=pagination.currentPage+2) if pagination.currentPage+1<pagination.totalPages else '#'}}"
                aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
        {% endif %}
    </ul>
</div>
{%endblock%}