{% extends "navbar.html" %}

{%block title%} Inactive {%endblock%}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/inactive_style.css')}}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <h1>Courier {{name}} is not working at the moment!</h1>
    
</div>
<div class="d-flex justify-content-center img">
    <img src="{{ url_for('static', filename='img/delivery.png') }}" alt="Not Working Courier">
</div>
<div class="d-flex justify-content-center">
    <form method="POST">
        <button class="btn btn-dark btn-lg btn-hover" type="submit" name="submit" value="active" id="btn-active">Go
            active</button>
    </form>
</div>
{% endblock %}