{% extends "navbar.html" %}

{% block title %} Order dashboard {% endblock %}


{% block links %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"
    crossorigin="anonymous" />
<link rel="stylesheet" href="{{ url_for('static', filename='css/boostrap_order_style.css') }}" />
{% endblock %}


{%block content%}
<script id="script_id" src=" {{url_for('static',filename='js/order-progress.js') }}" status="{{trip.status}}">
</script>
<div class="container px-1 px-md-4 py-5 mx-auto">
    <div class="card">
        <div class="d-flex justify-content-end">
            <form method="POST"
                action="{{ url_for('user.trip_dashboard',  tripID=trip.id, status='CANCELLED') }}">
                <button {% if trip.status!='ASSIGNED' %} hidden {% endif %} class="btn btn-danger" type="submit">
                    Cancel
                </button>
            </form>
        </div>
        <div class="row d-flex justify-content-center col-12">
            <h2 class="text-center">Order Details:</h2>
        </div>
        <div class="row d-flex justify-content-between px-3">
            <div class="row d-flex justify-content-center col-12">
                <h5 class="text-center">
                    ORDER: {{order.get('id')}}
                    <span class="text-primary font-weight-bold"></span>
                </h5>
            </div>
        </div>
        <table class="centered table table-bordered table-striped">
            <tr>
                <th>Client name</th>
                <th>Phone number</th>
                <th>From</th>
                <th>To</th>
                <th>Distance (km)</th>
                <th>Tags</th>
                <th>Delivery type</th>
            </tr>
            <tr>
                <th>{{order.get('clientName')}}</th>
                <th>{{order.get('phoneNumber')}}</th>
                <th>{{order.get('from').get('addressName')}}</th>
                <th>{{order.get('to').get('addressName')}}</th>
                <th>{{trip.distance}}</th>
                <th>{{','.join(order.get('tags'))}}</th>
                <th>{{order.get('deliveryType')}}</th>
            </tr>
        </table>

        <!-- Add class 'active' to progress -->
        <div class="row d-flex justify-content-center">
            <div class="col-12">
                <ul id="progressbar" class="text-center center-block">
                    <li class="active step0"><label class="progress-label">Assigned</label></li>
                    <li class="step0" id="progressbar_picked">
                        <form method="POST"
                            action="{{ url_for('user.trip_dashboard', tripID=trip.id, status='PICKED_UP') }}">
                            <button {% if trip.status!='ASSIGNED' %} hidden {% endif %} id="btn_picked"
                                class="btn btn-primary" type="submit">
                                Picked Up
                            </button>
                        </form>
                        <label class="progress-label">Picked Up</label>
                    </li>
                    <li class="step0" id="progressbar_delivered">
                        <form method="POST"
                            action="{{ url_for('user.trip_dashboard', tripID=trip.id, status='COMPLETED') }}">
                            <button {% if trip.status!='PICKED_UP' %} hidden {% endif %} id="btn_delivered"
                                type="submit" class="btn btn-primary">
                                Delivered
                            </button>
                        </form>
                        <label class="progress-label">Delivered</label>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{%endblock%}