{% extends "navbar.html" %}

{% block title %} Dashboard {% endblock %}

{% block links %}
<!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order_status_style.css')}}"> -->
{% endblock %}

{% block content %}

<div>
    <div>
        Courier {{name}} is now active!
    </div>


    <form method="POST" action="{{ url_for('user.dashboard') }}">
        <button type="submit" class="btn btn-primary" name="submit" value="inactive">Go inactive</button>
    </form>

    <table class="table table-striped table-hover centered thick-border table-hover">
        <thead class="table-dark">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Tags</th>
                <th>Assign</th>
            </tr>
        </thead>
        {% for item in data %}
        <tr>
            <th>{{item.from['addressName']}}</th>
            <th>{{item.to['addressName']}}</th>
            <th>{{','.join(item.tags)}}</th>
            <td>
                <form method="POST" action="{{ url_for('user.order_dashboard', orderID=item.ID) }}">
                    <button type="submit" class="btn btn-dark" name="status" value="assigned">Assign</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>


    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
        </li>
        {% for page in range(1, pagination.totalPages+1) %}
        <li class="page-item">
            <a class="page-link" href="{{ url_for('user.dashboard', page=page) }}">{{page}}</a>
        </li>
        {% endfor %}
        <li class="page-item">
            <a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>
        </li>
    </ul>
</div>
{%endblock%}