{% extends "base.html" %}

{% block title %} Dashboard {% endblock %}

{% block content %}

<p>Courier {{name}} is now active!</p>
<p></p>
<!-- <form method="POST" action="{{ url_for('user.dashboard') }}"> -->
<form method="POST" action="/user/dashboard">
    <button type="submit" name="submit" value="inactive">Go inactive</button>
</form>
<p></p>
<a></a>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>
<table class="centered thick-border">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Tags</th>
        <th>Assign</th>
    </tr>
    {% for item in data %}
    <tr>
        <th>{{item.from['addressName']}}</th>
        <th>{{item.to['addressName']}}</th>
        <th>{{','.join(item.tags)}}</th>
        <td>
            <form method="POST" action="{{ url_for('user.order_dashboard', orderID=item.ID) }}">
                <button type="submit" name="status" value="assigned">Assign</button>
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

{%endblock%}