{% extends "base.html" %} 

{% block title %} Dashboard {% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order_status_style.css')}}">
<p>Courier {{name}} is now active!</p>
<p></p>
<form method="POST">
    <input type="submit" name="submit_button" value="Go inactive" />
</form>
<p></p>

<head>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>
<table class="centered thick-border">
    <tr>
        <th>From</th>
        <th>To</th>
        <th>Tags</th>
        <th>Assign</th>
    </tr>
    {% for item in data %}

    <tr>
        <th>{{item.from['addressName']}}</th>
        <th>{{item.to['addressName']}}</th>
        <th>{{','.join(item.tags)}}</th>
        <td>
            <form method="POST" action="/user/dashboard/{{item.ID}}?status=assigned">
                <input id="assign order" type="submit" name="assign order" />
            </form>
        </td>
    </tr>
    {% endfor %}

</table>

<!-- <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a class="active" href="#">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div> -->


{%endblock%}