{% extends "navbar.html" %}

{% block style %}
<style>
  table,
  th,
  td {
    border: 1px solid black;
  }
</style>
{% endblock %}

{% block content %}

<h2>History of my trips</h2>

<table style="width:100%">
  <tr>
    <th>Trip ID:</th>
    <th>Courier ID</th>
    <th>Order ID:</th>
    <th>Distance:</th>
    <th>Assigned at:</th>
    <th>Picked up at:</th>
    <th>Delivered at:</th>
  </tr>
  {% for item in items %}
  <tr>
    {% for field in item %}
    <td>{{field}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
<p>Here are all the available trips for this Courier.</p>
<p></p>
{% if newer %}
<a id='lnk-newer' href="{{ url_for('user.history', newer_than=items[0][7]) }}" class="btn btn-outline btn-primary btn-lg">Newer</a>
{% endif %}
{% if older %}
<a id='lnk-older' href="{{ url_for('user.history', older_than=items[-1][7]) }}" class="btn btn-outline btn-primary btn-lg">Older</a>
{% endif %}
{% endblock %}