{% extends "navbar.html" %}

{% block title %} Order dashboard {% endblock %}

{% block style %}
<style>
    table,
    th,
    td {
        border: 1px solid black;
        margin-left: auto;
        margin-right: auto;
    }
</style>
{% endblock %}

<!-- <script>
    import LatLon from 'https://cdn.jsdelivr.net/npm/geodesy@2/latlon-spherical.min.js';
    function calculateDistance(from, to) {
        return (from.distanceTo(to).toPrecision(4))/100
    }
</script>

<p>From:{{order.from['latitude']}}, {{order.from['longtitude']}}</p>
<p>To: {{order.to['latitude']}}, {{order.to['longtitude']}}</p>
<p >Distance: calculateDistance("1.1,1,2", "3.3,4.3")</p> -->

{% block content %}

<body>
    <script id="script_id" src=" {{url_for('static',filename='js/order-progress.js') }}" status="{{status}}">

    </script>
    <table class="centered thick-border">
        <tr>
            <th>client name</th>
            <th>phone number</th>
            <th>From</th>
            <th>To</th>
            <th>Tags</th>
            <th>delivery type</th>
        </tr>
        <tr>
            <th>{{order.clientName}}</th>
            <th>{{order.phoneNumber}}</th>
            <th>{{order.from['addressName']}}</th>
            <th>{{order.to['addressName']}}</th>
            <th>{{','.join(order.tags)}}</th>
            <th>{{order.deliveryType}}</th>

        </tr>
    </table>
    <p></p>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/order_status_style.css')}}">
    <div class="container">
        <ul class="progressbar">
            <li class="active">Assigned</li>
            <li id="progressbar_picked">
                <form method="POST" action="{{ url_for('user.order_dashboard', orderID=order.ID)}}">
                    <button id="btn_picked" class="btn-submit" type="submit" name="status" value="picked_up">Picked Up</button>
                </form>
            </li>
            <li id="progressbar_delivered">
                <form method="POST" action="{{ url_for('user.order_dashboard', orderID=order.ID)}}">
                    <button  id='btn_delivered' type="submit" name="status" value="completed">Delivered</button>
                </form>
            </li>
        </ul>
    </div>
</body>
{% endblock %}