{% extends "navbar.html"%}

{% block title %} User Settings {% endblock %}

{% block style %}
<style>
    #tags-search {
        background-color: black;
        color: aliceblue;
    };

    .dropdown-menu {
        max-height: 100px;
        overflow: auto;
    };

</style>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center">
    <form method="POST">
        <div class="form-group col-md-6">
            <label>Full Name:</label>
            <input type="text" name="name" placeholder="Enter name" value="{{name if name}}" required />
        </div>

        <div class="form-group col-md-6">
            <label>Maximum weight of the package:</label>
            <input type="number" step="0.5" name="weight" min="0" value="{{max_weight if max_weight}}" required />
        </div>

        <div class="form-group col-md-6">
            <label>Maximum width of the package:</label>
            <input type="number" step="0.5" name="width" min="0" value="{{max_width if max_width}}" required />
        </div>


        <p>Maximum height of the package:</p>
        <input type="number" step="0.5" name="height" min="0" value="{{max_height if max_height}}" required />
        <p>Maximum length of the package:</p>
        <input type="number" step="0.5" name="length" min="0" value="{{max_length if max_length}}" required />
        <ul id="tags-selected">Tags:
            {% for tag in tags %}
            <li>{{tag}}</li>
            {% endfor %}
        </ul>
        <div class="btn-group dropend">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                data-bs-auto-close="outside" aria-expanded="false" onclick="filterTags({{tags}}, {{available_tags}});">
                Tags
            </button>
            <div id="tags-container" class="dropdown-menu dropdown-menu-dark">
                <div>
                    <input id='tags-search' type="text" placeholder="Search tags.."
                        oninput="filterTags({{tags}}, {{available_tags}});" />
                </div>
            </div>
        </div>

        <div class="btn btn-primary">
            <input class="btn btn-primary" type="submit" value="Submit" />
        </div>
    </form>
</div>

{% block scripts %}
<script src="{{ url_for('static', filename='js/tags.js' )}}"></script>
{% endblock %}
{%endblock%}