{% extends "navbar.html"%}

{% block title %} User Settings {% endblock %}

 {% block content %}
<link rel="stylesheet" href="../../static/css/settings_style.css">
<body>
<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-10 col-lg-5 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 2rem;">
                    <div class="card-body p-5 text-center">
                        <form method="POST">
                            <label>Full Name:</label>
                            <div >
                                <input type="text" name="name" placeholder="Enter name" value="{{name if name}}"
                                    required />
                            </div>
                            <label>Maximum weight of <br>the package:</label>
                            <div>
                                <input type="number" step="0.5" name="weight" min="10"
                                    value="{{max_weight if max_weight}}" required />
                            </div>
                            
                            <label>Maximum width of <br>the package:</label>
                            <div>
                                <input type="number" step="0.5" name="width" min="2" value="{{max_width if max_width}}"
                                    required />
                            </div >
                            <label>Maximum height of<br> the package:</label>
                            <div >
                            <input type="number" step="0.5" name="height" min="1" value="{{max_height if max_height}}"
                                required />
                            </div>
                            <label>Maximum length of<br> the package:</label>
                            <div >
                            
                            <input type="number" step="0.5" name="length" min="1" value="{{max_length if max_length}}"
                                required />
                            </div>
                            <label class="font-weight-bold text-center"> Tags:</label>
                            <ul id="ul-id" >
                                {% for tag in tags %}
                                <li id="li-id">{{tag}}</li>
                                {% endfor %}
                            </ul>
                           
                            <details id="tags-select-menu" ontoggle="filterTags({{tags}}, {{available_tags}});">
                                <summary ><strong>Tags</strong></summary>
                                <details-menu>
                                    <div id="tags-menu-list" >
                                            <input id='tags_search' type="text" placeholder="Search tags.."
                                                oninput="filterTags({{tags}}, {{available_tags}});" />
                                    </div>
                                </details-menu>
                            </details>
                            
                            <div class="form-group col-md-12">
                            <input id="submit_btn" type="submit" value="Submit" />
                        </div>  
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
</body>
{% block scripts %}
<script src="{{ url_for('static', filename='js/tags.js' )}}"></script>
{% endblock %}
{%endblock%} 
